header.masthead {
    background: url("/assets/images/news-full.jpg") no-repeat center center;
    background-size: cover;
}

div.card {
    margin: 10px;
}

span.badge {
    margin: 2px;
}

div.tags {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    div.tags {
        margin-top: 40%;
    }
}
