/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.main-container {
    padding-top: 54px;
    min-height: 86vh;
}

div.anchor {
    position: relative;
    top: -54px;
}
  
@media (min-width: 992px) {
    .main-container {
        padding-top: 56px;
    }
}

