/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.main-container {
    padding-top: 54px;
    min-height: 86vh;
}

div.anchor {
    position: relative;
    top: -54px;
}
  
@media (min-width: 992px) {
    .main-container {
        padding-top: 56px;
    }
}

